<footer class="text-center">
<div class="container-fluid">
    <p>Made by <a href="http://ajheinke.com/">Andrew Heinke</a> in Austin, Texas &copy; 2016 | <a href="https://github.com/AndrewHeinke/elder.ly">GitHub</a></p>
    <p>
      Happy Grandparents Icon by Cezary Lopacinski from the Noun Project
    </p>
</div>
  </footer>
