/* ======= Variables ======= */
$primary-green: #61E294;
$gunmetal-color: #292F36;
$wild-blue-gray: #9DB4C0;
$brdr-radius: 7px;


/* ======= Mixins ======= */
@mixin boxShadow() {
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
}

/* ======= Base ======= */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding-top: 90px;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  background: #EDEFF0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $primary-green;
}

a {
    color: $primary-green;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
.btn {
  background-color: $primary-green;
  border-color: $primary-green;
  &:active {
    background: $primary-green;
    border-color: $primary-green;
    box-shadow: none;
  }
  &:hover {
    background-color: darken($primary-green, 20%);
    border-color: darken($primary-green, 20%);
  }
}
.btn-warning {
  background-color: $primary-green;
  border-color: $primary-green;
  &:active:focus {
    background: $primary-green;
    border-color: $primary-green;
    box-shadow: none;
    outline: none;
  }
  &:hover {
    background-color: darken($primary-green, 20%);
    border-color: darken($primary-green, 20%);
  }
}


/* ======= Header ======= */

.navbar-toggle .icon-bar {
  background: $gunmetal-color;
}

#elderly-logo {
  width: 250px;
  height: auto;
  color: #fff;
}

.navbar-fixed-top {
  padding-top: 10px;
  border-bottom: 2px solid $wild-blue-gray;
  background: #fff;
  .nav {
    padding: 15px 0;
  }
  .navbar-brand {
    padding: 0 15px;
  }
}

.nav li a {
  font-size: 1.5em;
  color: $gunmetal-color;
  &:focus, &:hover {
    background: none;
    color: $primary-green;
  }
}

#login-link {}

  /* ======= Profile Card ======= */

.profile-card {
  position: relative;
}

.username {
  bottom: 0;
  color: #ffffff;
  padding: 30px 15px 4px;
  position: absolute;
  width: 100%;
  text-shadow: 1px 1px 2px #000000;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* IE6-9 */
  p {
    display: inline-block;
    margin-right: 15px;
  }
}

.profile-card-pic {
  border-radius: 7px 7px 0 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: $gunmetal-color;
  text-decoration: none;
}

.submenu .profile-card-pic {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
  border-radius: 50%;
  height: 60px;
  padding: 2px;
  width: 60px;
}

.username {
  h2 {
    font-size: 2em;
    font-weight: 400;
    position: relative;
    text-shadow: 2px 2px 3px #000000;
    color: #ffffff;
  }
  .fa {
    color: #ffffff;
    font-size: 14px;
    position: static;
  }
}

.accordion {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 20px;
  background: #FFF;
  -webkit-border-radius: $brdr-radius;
  -moz-border-radius: $brdr-radius;
  border-radius: $brdr-radius;
  @include boxShadow();
  .info-tab {
    display: block;
    padding: 10px 5px 10px 12px;
    color: #4D4D4D;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: 1px solid #EDEFF0;
    position: relative;
  }
}

.profile-info {
  border-radius: 0 0 7px 7px;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.submenu li:last-child {
  border-bottom: none;
}

.accordion {
  li .fa {
    top: 16px;
    left: 12px;
    font-size: 1.25em;
    color: $primary-green;
    margin-right: 15px;
  }
  p {
    font-size: 1.25em;
    .fa {
      color: #ffffff;
      margin-right: 5px;
      font-size: 1em;
    }
  }
  li.default .submenu {
    display: block;
    border-radius: 0 0 7px 7px;
  }
}

.submenu {
  display: none;
  background: #ffffff;
  font-size: 1.25em;
  a {
    display: block;
    text-decoration: none;
    color: $gunmetal-color;
    padding: 12px;
    &:hover {
      text-decoration: none;
    }
  }
}

.accordion li .info-tab .fa {
  color: #f1c40f;
  margin-right: 7px;
  vertical-align: middle;
}

.comment-title {
  margin-top: 0px;
  border-bottom: 1px solid $wild-blue-gray;
  padding-bottom: 10px;
}

.comment-review {
  background: #ffffff;
  padding: 20px;
  border-radius: $brdr-radius;
  @include boxShadow();
  p {
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 1.5;
    color: $gunmetal-color;
  }
}

/* ======= Homepage Banner =======*/

.jumbotron {
    text-align: center;
    padding-top: 40px 0;
    background: $gunmetal-color;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.35);
    #banner-button {
      background: linear-gradient(to left, $primary-green, #00bf8f);
      box-shadow: 0 25px 34px -20px darken($primary-green, 5%);
      font-weight: 400;
      padding: 20px 90px;
      text-shadow: none;
      font-size: 1.25em;
      color: #fff;
      border-radius: $brdr-radius;
      margin-top: 20px;
      &:hover {
        box-shadow: 0 25px 34px -20px darken($primary-green, 25%);
      }
      @media screen and (max-width: 768px) {
        margin-top: 0px;
      }
    }
    p {
      font-size: 2em;
      @media screen and (max-width: 768px) {
        font-size: 1.5em;
      }
    }
    .display-3 {
      font-weight: 700;
      font-size: 5em;
      text-shadow: 1px 1px 1px rgba(0,0,0,.15);
      @media screen and (max-width:768px) {
        font-size: 3em;
      }
    }
}

/* ======= Sign Up Form =======*/
  form {
    .form-control:focus {
      outline: none;
      box-shadow: none;
      border: 2px solid $primary-green;
    }

    .hide-this {
      display: none;
    }

    #buttonTitle {
      color: $gunmetal-color;
      margin-top: 0px;
      margin-bottom: 15px;
      font-size: 2em;
      @media screen and (max-width:768px) {
        font-size: 1.5em;
      }
    }
    .userSelect {
      width: 40%;
      display: inline-block;
      margin: 0 10px;
      font-weight: 700;
      font-size: 1.5em;
      border: 3px solid $primary-green;
      background-color: #ffffff;
      color: $gunmetal-color;

      &:focus {
        background: $primary-green;
        outline:none;
        border: 3px solid $primary-green;
      }
      @media screen and (max-width:768px) {
        display: block;
        margin: 10px auto;
        width: 90%;
      }
    }
    .buttonChoices {
      margin-top: 20px;
      margin-bottom: 20px;
      background: #ffffff;
      padding: 20px 10px;
      border: 2px solid $wild-blue-gray;
      border-radius: $brdr-radius;
    }
    #user-type-text {
      color: #ffffff;
      font-size: 1.75em;
      font-weight: 700;
      background: $primary-green;
      padding: 10px;
      text-align: center;
      border-radius: $brdr-radius;
    }
    #user-type-description {
      color: $gunmetal-color;
      font-size: 1.5em;
      font-weight: 400;
      background: #ffffff;
      border: 2px solid $wild-blue-gray;
      padding: 20px;
      text-align: center;
      border-radius: $brdr-radius;
      @media screen and (max-width:768px) {
        padding: 10px;
        font-size: 1.25em;
        text-align: left;
      }
    }
    #userType-display {
      margin-bottom: 20px;
    }
  }


/* ======= Profile Page ======= */

.profile-pic {
  width: 100px;
  height: auto;
}

/* ======= Search Page ======= */
.helper-container {
  padding: 0px;

  h1 {
    font-size: 3em;
    color: $gunmetal-color;
    border-bottom: 2px solid $primary-green;
    padding-bottom: 10px;
    @media screen and (max-width:768px) {
      font-size: 2em;
    }
  }
}

.view-profile {
  margin-top: 15px;
  a {
    background: #ffffff;
    color: $primary-green;
    border: 2px solid $primary-green;
    border-radius: $brdr-radius;
    padding: 5px 10px;
    font-size: 1.25em;
    text-decoration: none;
    margin-top: 5px;
    &:hover {
      text-decoration: none;
      background-color: $primary-green;
      color: #ffffff;
    }
  }
}
.helpersList {
  margin-bottom: 10px;
  display: inline;
  padding: 10px;
  @media screen and (max-width:768px) {
    padding: 5px;
  }

  .search-card {
    background: #ffffff;
    border-radius: $brdr-radius;
    @include boxShadow();
  }

  .profile-card-pic {
    width: 140px;
    height: 140px;
    border-radius: 7px 0 0 7px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
  .user-details {
    display: inline-block;
    padding: 10px 0;
    p {
      color: $gunmetal-color;
      font-size: 1.25em;
      margin-bottom: 0px;
      .fa-star, .fa-star-half-o {
        color: #F1C40F;
      }
    }

  }
}


/* Extra small devices (phones, less than 768px) */

@media (min-width: 768px) {
  body {
    padding-top: 90px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  #elderly-logo {
    width: 200px;
    height: auto;
    color: #fff;
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .container-full-bg {
    background: $primary-green;
    background-image: none;
  }
  body {
    padding-top: 60px;
  }
  .banner-img {
    display: none;
  }
  .navbar-collapse {
    text-align: center;
    font-size: 1.5em;
    background: $gunmetal-color;
    color: #ffffff;
  }
  .navbar-toggle {
    padding: 6px 0px;
  }
  .navbar-fixed-top {
    padding-top: 5px;
  }
  .navbar-fixed-top .navbar-collapse {
    height: 100vh;
  }
  .pull-right {
    float: none !important;
  }
  .navbar-collapse li a {
    color: #ffffff;
  }
  .navbar-nav > li > a {
    line-height: 1.5;
  }
}
