.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* ======= Base ======= */
body {
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #61E294;
}
a {
  color: #61E294;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #0e98c5;
  cursor: pointer;
}

.navbar-toggle .icon-bar {
  background: #292F36;
}
/* ======= Header ======= */
#elderly-logo {
  width: 250px;
  height: auto;
  color: #fff;
}

.navbar-fixed-top {
  padding-top: 10px;
  border-bottom: 2px solid #9DB4C0;
  background: #fff;
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}
.nav>li>a {
  font-size: 1.25em;
  color: #292F36;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
  color: #61E294;
}

#login-link {
  
}


/* ======= Homepage Banner =======*/
.jumbotron {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: transparent;;
  color: #fff;
}
.container-full-bg {background-image:url('../img/banner-image.jpg'); width:100%;height:100%;max-width:100%;background-position:center;background-size:cover;}
.container-full-bg .container, .container-full-bg .container .jumbotron {height:100%;width:100%;}

#banner-button {
  background: transparent;
  border: 3px solid #fff;
  padding: 5px 20px;
  font-size: 1.5em;
  color: #fff;
}

.display-3 {
  font-weight: 700;
}

/* ======= Profile Page ======= */
.profile-pic {
  border-radius: 50%;
}



/* Extra small devices (phones, less than 768px) */
@media(min-width:768px) {
    body {
        padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
    #elderly-logo {
      width: 200px;
      height: auto;
      color: #fff;
    }


    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
