<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>
    <div class="container">
      <h1 class="text-center">About</h1>
      <div class="col-md-8 col-md-offset-2">
        <div class="about-copy">
          <p>
            This page will house frequently asked questions, information about the developer and disclaimer language for compliance.
          </p>
        </div>
      </div>
    </div>
  <% include ../partials/body %>
</body>

</html>
