<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
          <h1><i class="material-icons md-48">lock</i> Node Authentication</h1>
          <p>Login or Register with:</p>
          <a href="/login" class="btn btn-default">Login</a>
          <a href="/signup" class="btn btn-default">Signup</a>
      </div>
    </div>
    <% include ../partials/body %>
  </body>
</html>
