<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <!-- Fixed navbar -->
  <% include ../partials/navbar %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Care that feels like family.</h1>
            <p>Senior Companion Service. Sign Up. Connect with Helpers.</p>
            <p>
              <% if(login){ %>
                <a href="/profile" id="banner-button" class="btn">Get Started</a>
              <% } else { %>
              <a href="/signup" id="banner-button" class="btn">Sign Up</a>
              <% } %>
            </p>
        </div>
    </div>
    <hr id="castle-pattern" hr />

    <div class="instructions">
      <div class="container">
        <h1 class="text-center">
        How elderly works:
        </h1>
        <hr id="instruct-hr">
      </div>
      <div class="all-steps">
        <div class="container-fluid">
          <div class="col-md-4">
            <div class="step">
              <div class="number">
                1
              </div>
              <div class="instruction-text">
                <p>
                  Sign up for an account
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step">
              <div class="number">
                  2
              </div>
              <div class="instruction-text">
                <p>
                  Search for helpers in your city
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step">
              <div class="number">
                3
              </div>
              <div class="instruction-text">
                <p>
                  Get assistance with simple tasks
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="details">
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h4 class="about-section text-center">
                elderly is a web application designed to connect seniors living independently with volunteers who provide assistance with everyday tasks.
              </h4>
            </div>
        </div>
      </div>
    </div>
    <div class="testimonials">
      <div class="container">
        <h1 class="text-center">
        Testimonials
        </h1>
        <hr id="testimonials-hr">
      </div>
      <div class="container-fluid">
        <div class="col-md-4">
            <div class="comment-review">
              <div class="testimonial-img">
                <img class="old-person desaturate" src="/img/old-man-3.jpg">
              </div>
              <div class="testimonial-info">
                <div class="name">
                  James Moore
                </div>
                <div class="location">
                  Austin, Texas
                </div>
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
              </div>
              <div class="comment">
                <p>
                  When my family is too busy to help me go to the grocery store, elderly can find me a volunteer in my city that can assist me whenever I need. I just adore this awesome service!
                </p>
              </div>
          </div>
        </div>
      <div class="col-md-4">
          <div class="comment-review">
            <div class="testimonial-img">
              <img class="old-person desaturate" src="/img/old-woman-2.jpg">
            </div>
            <div class="testimonial-info">
              <div class="name">
                Anna Smith
              </div>
              <div class="location">
                Austin, Texas
              </div>
              <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            </div>
            <div class="comment">
              <p>
                I am 82 years old and still live by myself. I have 2 sons that also live in Austin and help me run errands from time to time. This service is great when my kids are busy and can't help me. When I need help running an errand, my kids just request a volunteer from elderly to come help me.
              </p>
            </div>
        </div>
      </div>
      <div class="col-md-4">
          <div class="comment-review">
            <div class="testimonial-img">
              <img class="old-person desaturate" src="/img/old-man-1.jpg">
            </div>
            <div class="testimonial-info">
              <div class="name">
                Raul Chavez
              </div>
              <div class="location">
                Austin, Texas
              </div>
              <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
            </div>
            <div class="comment">
              <p>
                I am 82 years old and still live by myself. I have 2 sons that also live in Austin and help me run errands from time to time. This service is great when my kids are busy and can't help me. When I need help running an errand, my kids just request a volunteer from elderly to come help me.
              </p>
            </div>
        </div>
      </div>
    </div>
    </div>


    <% include ../partials/footer %>
    </div>

    <% include ../partials/body %>

</html>
